[package]
name = "cli"
version = "0.1.0"
edition.workspace = true

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive", "env"] }
serde_json = "1.0"
tokio = { version = "1.40", features = ["rt-multi-thread", "macros"] }
orbit_cli_sdk = { path = "../clients/cli-rs" }
